
h1, div, p {
    text-align: center;
}


html {
    background-color: white;
}


body {
    background-color: lightblue;
    width: 600px;
    margin: 0 auto; 
    border: 2px dotted grey;
}


div {
    font-family: Tahoma, sans-serif;
    color: red;
    font-size: 40px;
}
